@CHARSET "UTF-8";

a {
	color: #563d7c;
}

.btn-primary {
	background-color: #563d7c;
	border-color: #563d7c;
}

.form-control:focus {
	border-color: #563d7c;
}

.page-content {
	width: 1024px;
	margin: 0 auto;
	padding-left: 50px;
}

#login-page {
	background-color: #563d7c;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#login-page .page-content h1 {
	color: #fff;
	font-size: 70px;
	line-height: 0.95;
	margin-bottom: 30px;
	margin-top: 50px;

}

#login-page .page-content h2 {
	color: #fff;
	font-size: 27px;
	margin-bottom: 100px;
}

#login-frame {
	width: 304px;
}

#login-frame a {
	color: #555;
}

#login-email, #signup-email, #signup-password {
	margin-top: 10px;
	margin-bottom: 10px;
}

#login-password, #signup-password-again {
	margin-bottom: 20px;
}

.page-header-left {
	padding-left: 20px;
}

.page-header-left h3 {
	color: white;
}

.page-header-right {
	padding-right: 20px;
	padding-top: 3px;
}

.navbar-default {
	background-color: #563d7c;	
}

.btn-default {
	color: #563d7c;	
}

#mainPanelLabel {
	display: inline;
	padding-left: 15px;
}

.create-group-modal-element {
	padding-top: 10px;
	padding-bottom: 10px;
}

.list-group .active, .list-group .active:hover {
	background-color: #563d7c;
	border-color: #563d7c;
}

.nav-pills li.active a, .nav-pills li.active a:hover {
	background-color: #563d7c;
}

a:hover {
	color: #563d7c;
}

.btn-correct-height {
	height: 34px;
}

#inviteUserInputGroup {
	position: relative;
	top: -60px;
	left: -21px;
	min-width: 180px;
}

#membersActionButtons {
	margin: auto;
	position: absolute;
	top: 0;
	left: 50;
	bottom: 0;
	right: 0;
}

.width100 {
	min-width: 100;
}

.margintop10 {
	margin-top: 10;
}

.width100percent {
	width: 100%;
}

.width80percent {
	width: 80%;
}

.width20percent {
	width: 20%;
}

#belowGroupPanel {
	padding-right: 15px;
	padding-left: 15px;
}

.dropdownWithoutTop {
	top: inherit;
}

.bought {
	text-decoration: line-through;
	color: grey;
}

#header a:hover {
	text-decoration: none;
}